.title {
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
}

.gifsize {
  width: 200px;
  height: 200px;
  margin-left: 200px;
}

.image {
  grid-area: image;
}

.project {
  grid-area: project;
  padding: 20px;
  margin-right: 30%;
}

.footer {
  grid-area: footer;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
	'image project project project project project'
	'image footer footer footer footer footer';
  padding: 25px;
}

.grid-container > div {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8eaff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a0aafc;
}

body {
  background-color: #f8f9ff;
  font-family: Helvetica;

}
