#content {
  margin-left: auto;
  margin-right: auto;
  width: 670px;
}

#center {
  text-align: center;
}

#quote-container {
  margin-top: 20px;
}

#comment-container {
  margin-top: 20px;
  text-align: center;
  display: table;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8eaff;
}

li {
  float: left;
}

li-comment {
  float: left;
  clear: left;
  position: relative;
  padding: 10px;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a0aafc;
}

img {
  float: left;
  margin-right: 20px;
}

body {
  background-color: #f8f9ff;
  font-family: Helvetica;
}

.section {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: #e8eaff;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
}
